#carousel {
  width: 610px; }

#carouselMask {
  position: absolute;
  left: 0px;
  top: 0px; }

.carouselCont {
  overflow: hidden;
  position: relative; }

#topBanner, #bottomBanner {
  height: 30px;
  overflow: hidden;
  padding: 0 30px; }

#bottomBanner {
  height: 60px; }

.fullScreen #view-fullscreen, #cancel-fullscreen {
  display: none; }

.fullScreen #cancel-fullscreen, #view-fullscreen {
  display: block; }

.active {
  color: red; }

.carouselNavItem {
  cursor: pointer; }

#main {
  width: 1000px;
  margin: 0 auto;
  padding: 100px 0; }
  #main .carouselCont {
    height: 305px;
    width: 610px; }
  #main .slide {
    float: left;
    width: 610px; }

.responsive .carouselCont {
  width: 100%; }
.responsive #carousel {
  width: 100%; }
.responsive .slide {
  float: left;
  position: relative;
  overflow: hidden; }
  .responsive .slide span {
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;
    font-weight: bold;
    font-size: 30px; }
.responsive .next {
  position: absolute;
  right: 0;
  top: 50%; }
.responsive .prev {
  position: absolute;
  left: 0;
  top: 50%; }
.responsive .carouselCont {
  margin: 0 auto; }
.responsive .carouselCont img {
  width: auto;
  height: 100%;
  display: block; }

#fullscreen2 .carouselCont img {
  width: 100%;
  height: auto;
  display: block; }
#fullscreen2 #carousel {
  margin: 0 80px; }
